.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #235c2d;
  color: white;

  .logo {
    width: 60px;
    padding-left: 20px;
  }

  .menu {
    display: flex;
    gap: 20px;
    padding-right: 20px;

    li {
      list-style: none;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
