.ArticleRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 40px;
  padding: 25px;
  img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
  .ArticleRightText {
    width: 30%;
    h3 {
      margin: 0;
      font-size: 1.5rem;
      text-align: right;
    }
    p {
      text-align: right;
      margin: 5px 0 0;
      color: #555;
    }
  }
}
