.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color-transparent);
  color: var(--text-color);
  z-index: 1000;

  .logo {
    width: 60px;
    padding-left: 20px;
  }

  .menu {
    display: flex;
    gap: 20px;
    padding-right: 20px;

    li {
      list-style: none;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
